@import url(reset.css);

/*========== 변수 ==========*/
:root {

  /* color */
  --color777 : #777;
  --color999 : #999;
  --colorf8 : #f8f8f8;
  --colorf1 : #f1f1f1;
  --colorf2 : #f2f2f2;
  --colorDA : #dadada;
  --colorEEE : #eee;
  --colorBBB : #bbb;
  --color18 : #181818;
  --colorBk : black;
  --colorWt : white;
  --colorMain : #40A6DF;;
  --colorD2 : #D2B271;
  --color40 : #402B01;
  --colorRed : #FF0F00;
  --colorD9 : #D9E4F4;
  --color26 : #26537D;
  --colorF5 : #F5F9FF;
  --colorF3 : #F3545E;
  --colorFD : #FDB8BC;
  --colorF2 : #F29F05;
  --colorE0 : #E0F1FF;
  --color444 : #444;
  --transparent : transparent;

  /* font family */
  --ffLato: 'lato-regular';
  --ffPt : 'PT-regular';

  /* size */
  --fontBaseSize : 16px;

  /* display */
  --none : none;
  --block : block;
  --inline : inline;
  --inlineBlock : inline-block;
  --flex : flex;
  --lnflex : inline-flex;
  --grid : grid;
  --fixed : fixed;

  /* align */
  --left : left;
  --right : right;
  --center : center;
  --top : top;
  --bottom : bottom;

  /* flex align */
  --jcSb : space-between;
  --jcSa : space-around;
  --Fs : flex-start;
  --Fe : flex-end;

  /* background */
  --bgNr : no-repeat;
  --bgSc : cover;

  /* position */
  --poA : absolute;
  --poR : relative;
  --poF : fixed;
  --poS : sticky;

  /* fontFamily */
  --notoSans : "Noto Sans KR", sans-serif;
  --Inter : 'Inter';
  --centuryG : "century Gothic";
  --nanumG : 'Nanum Gothic';

  /* text */
  --nowrap : nowrap;
  --fwBold : bold;
  --fwNmal : normal;
  --wrap : wrap;

  /* unit */
  --u0 : 0;
  --u10 : 10px;
  --u10p : 10%;
  --u100 : 100%;

  /**/
  --hidden : hidden;
  --pointer : pointer;
}

/*========== 폰트 ==========*/

/* notosans */
@font-face {
  font-family: 'Noto-L';
  src: url(../font/NotoSansKR-Light.woff2);
  transform : rotate(0.04deg);
}

@font-face {
  font-family: 'Noto-R';
  src: url(../font/NotoSansKR-Regular.woff2);
  transform : rotate(0.04deg);
}

@font-face {
  font-family: 'Noto-B';
  src: url(../font/NotoSansKR-Bold.woff2);
  transform : rotate(0.04deg);
}

/* fontFaily */
.noto-Light {
  font-family: Noto-L;
}

.noto-Regular {
  font-family: Noto-R;
}

.noto-Bold {
  font-family: Noto-B;
}

/*========== 배경 컬러 ==========*/
.bgc-trans {
  background-color: var(--transparent);
}

.bgc-main {
  background-color: var(--colorMain);
  color: var(--colorWt);
}

.bgc-d2 {
  background-color: var(--colorD2);
}

.bgc-f1 {
  background-color: var(--colorf1);
}

.bgc-f2 {
  background-color: var(--colorf2);
}

.bgc-f8 {
  background-color: var(--colorf8);
}

.bgc-wt {
  background-color: var(--colorWt);
}

.bgc-bk {
  background-color: var(--colorBk);
}

.bgc-eee {
  background-color: var(--colorEEE);
}

.bgc-bbb {
  background-color: var(--colorBBB);
}

.bgc-pink {
  background-color: var(--colorF3);
}

.bgc-FD {
  background-color: var(--colorFD);
}

.bgc-444 {
  background-color: var(--color444);
}



/*========== 폰트컬러 ==========*/
.fcMain {
  color: var(--colorMain);
}

.fc40 {
  color: var(--color40);
}

.fc777 {
  color: var(--color777);
}

.fc999 {
  color: var(--color999);
}

.fcRed {
  color: var(--colorRed);
}

.fcWt {
  color: var(--colorWt);
}

.fcbbb {
  color: var(--colorBBB);
}

.fcBk {
  color: var(--colorBk);
}

/*========== 디스플레이 ==========*/
.display-b {
  display: var(--block);
}

.d-inB {
  display: var(--inlineBlock);
}

.d-grid {
  display: var(--grid);
}

/*========== 포지션 ==========*/
.poR {
  position: var(--poR);
}

.poA {
  position: var(--poA);
}

/*========== 플렉스 ==========*/
.flex {
  display: var(--flex);
}

.flex-wrap {
  flex-wrap: var(--wrap);
}

.inflex {
  display: var(--lnflex);
}

.ai-c {
  align-items: var(--center);
}

.ai-fe {
  align-items: var(--Fs);
}

.jc-sb {
  justify-content: var(--jcSb);
}

.jc-sa {
  justify-content: var(--jcSa);
}

.jc-c {
  justify-content: var(--center);
}

.jc-fs {
  justify-content: var(--Fs);
}

.jc-fe {
  justify-content: var(--Fe);
}

.fd-c {
  flex-direction: column;
}

/*========== 그리드 ==========*/
.grid {
  display: var(--grid);
}

/* 시작 반응형 */
.R-jc-fs {
  justify-content: flex-start;
}
@media screen and (max-width:428px) {
  .R-jc-fs {
    flex-direction: column;
  }
}

/* 시작 > 가운데 */
.R-jc-fsc {
  justify-content: flex-start;
}
@media screen and (max-width:768px) {
  .R-jc-fsc {
    justify-content: center;
    flex-direction: column;
  }
}

/* 센터 반응형 */
.R-jc-c {
  justify-content: var(--center);
}
@media screen and (max-width:428px) {
  .R-jc-c {
    flex-direction: column;
  }
}

/* 비트윈 반응형 */
.R-jc-sb {
  justify-content: var(--jcSb);
}
@media screen and (max-width:768px) {
  .R-jc-sb {
    flex-direction: column;
  }
}

/* 어라운드 반응형 */
.R-jc-sa {
  justify-content: var(--center);
}
@media screen and (max-width:768px) {
  .R-jc-sa {
    justify-content: var(--jcSa);
    flex-direction: column;
  }
}

/*========== 임포턴트 ==========*/
.Im-jc-c {
  justify-content: var(--center) !important;
}

/*========== 겝 ==========*/
.gap05 {
  gap: 5px;
}

.gap10 {
  gap: var(--u10);
}
.gap20{
  gap: calc(var(--u10) * 2);
}

.gap30{
  gap: calc(var(--u10) * 3);
}

.gap40{
  gap: calc(var(--u10) * 4);
}

.gap60 {
  gap: calc(var(--u10) * 6);
}

/*========== 마진 ==========*/

/* 위 */
.mt05 {
  margin-top: 5px;
}

.mt10 {
  margin-top: var(--u10);
}

.mt20 {
  margin-top: calc(var(--u10) * 2);
}

.mt40 {
  margin-top: calc(var(--u10) * 4);
}

/* 아래 */
.mb05 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: var(--u10);
}

.mb15 {
  margin-bottom: calc(var(--u10) * 1.5);
}

.mb20 {
  margin-bottom: calc(var(--u10) * 2);
}

.mb30 {
  margin-bottom: calc(var(--u10) * 3);
}

.mb40 {
  margin-bottom: calc(var(--u10) * 4);
}

.mb50 {
  margin-bottom: calc(var(--u10) * 5);
}

.mb80 {
  margin-bottom: calc(var(--u10) * 8);
}

.mb100 {
  margin-bottom: calc(var(--u10) * 10);
}

/* 오른쪽 */
.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: var(--u10);
}

/* 왼쪽 */
.ml10 {
  margin-left: var(--u10);
}

/*========== 길이 ==========*/
.w100p {
  width: var(--u100);
}

/*========== 높이 ==========*/
.h-initial {
  height: initial !important;
}

/*========== 텍스트 ==========*/
.ta-c {
  text-align: var(--center);
}

.ta-r {
  text-align: var(--right);
}

.toe {
  text-overflow: ellipsis;
}

.fwl {
 font-weight:lighter;
}

.fw700 {
  font-weight: 700;
}

.fwb {
  font-weight: bold;
}

.wsn {
  white-space: nowrap;
}

.tt-u {
  text-transform: uppercase;
}

/*========== 폰트 사이즈 ==========*/
.fs-16 {
  font-size: calc(var(--u10) * 1.6);
  line-height: calc(var(--u10) * 1.6);
}

.fs-18 {
  font-size: calc(var(--u10) * 1.8);
  line-height: calc(var(--u10) * 1.8);
}

.fs-20 {
  font-size: calc(var(--u10) * 2);
  line-height: calc(var(--u10) * 2);
}

.fs-24 {
  font-size: calc(var(--u10) * 2.4);
  line-height: calc(var(--u10) * 2.4);
}

.fs-30 {
  font-size: calc(var(--u10) * 3);
  line-height: calc(var(--u10) * 3);
}

/*========== 보더 ==========*/
.brNone {
  border: var(--none) !important;
}

.brf1 {
  border: 1px solid var(--colorDA);
}

.brtf1 {
  border-top: 1px solid var(--colorf1);
}

.brbf1 {
  border-bottom: 1px solid var(--colorf1);
}

/*========== 보더 레디어스 ==========*/
.radius10 {
  border-radius: var(--u10);
}

.radius20 {
  border-radius: calc(var(--u10) * 2);
}

.radius100 {
  border-radius: calc(var(--u10) * 10);
}

.radius50p {
  border-radius: calc(var(--u10p) * 5);
}

/*========== 보더 칼라 ==========*/
.bc-main {
  border-color: var(--colorMain) !important;
}

.bc-bbb {
  border-color: var(--colorBBB);
}

/*========== 패딩 ==========*/
.pd10 {
  padding: var(--u10);
}

.pd15 {
  padding: calc(var(--u10) * 1.5);
}

.pd20 {
  padding: calc(var(--u10) * 2);
}

.pd50 {
  padding: calc(var(--u10) * 5);
}

/* 아래 */
.pdb20 {
  padding-bottom: calc(var(--u10) * 2);
}

/* 왼쪽 */
.pdl0 {
  padding-left: 0;
}

.pdl10 {
  padding-left: var(--u10);
}

/* 오른쪽 */
.pdr0 {
  padding-right: 0;
}

/* 위 */
.pdt0 {}

/*========== 라인 하이트 ==========*/
.line-h10 {
  line-height: var(--u10);
}

/*========== 오버플로우 ==========*/
.overH {
  overflow: hidden;
}

.overX {
  overflow-x: auto;
}

.overY {
  overflow-y: auto;
}

/*========== 필터 ==========*/
.filter-gc {
  filter: grayscale(100%);
}

/*========== 버튼 ==========*/
.btn {
  white-space: var(--nowrap);
  text-align: var(--center);
}

.btn:hover {
  background-color: var(--transparent);
  color: var(--colorBk);
}

.btn-outline {
  border:1px solid var(--colorMain);
}

.btn-bgBk {
  background-color: var(--color18);
  color: var(--colorWt);
  font-weight: var(--fwBold);
}

.btn-underLine {
  text-decoration: underline;
}

/*========== 테이블 ==========*/
.table {
  width: var(--u100);
}

.table th, td {
  padding: 10px;
}

.table-underLine tbody tr {
  border-bottom: 1px solid var(--colorf1);
}

.table-x {
  overflow-x: auto;
}

.trhover tr:hover{
  background-color: var(--colorf1);
  cursor: pointer;
}

@media screen and (max-width:768px) {
  .table-column tr{
    display: flex;
    flex-direction: column;
  }
}

/*========== 오버플로우-x ==========*/
.ofx::-webkit-scrollbar {
  display: var(--none); /* Chrome, Safari, Opera*/
}

.ofx {
  overflow-x: auto;
  -ms-overflow-style: var(--none); /* 인터넷 익스플로러 */
  scrollbar-width: var(--none); /* 파이어폭스 */
}

/*========== 커서 ==========*/
.cursor-p {
  cursor: pointer;
}

/*========== 유아이 리스트 ==========*/
.list-underline li{
  border-bottom: 1px solid var(--colorDA);
}


/*========== 베이직 ==========*/
html {
  scroll-behavior: smooth;
}

body {
  position: var(--poR);
  font-size: 14px;
}

.hidden {
  display: var(--none);
}

hr {
  border: 0;
  height: 1px;
  background-color: var(--colorDA);
}

footer {
  display: var(--flex);
  justify-content: var(--center);
}


.lihover > li:hover + li {
  border-top:var(--colorwh)
}

/*========== 인풋 ==========*/
input {
  outline: none;
  border: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--colorDA);
}

/*========== 라디오 버튼 ==========*/
.check-radio {
  appearance: none;
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #777;
  position: relative;
  background-color: #fff;
  border-radius: 50%;
}

.check-radio:checked::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #777;
  text-align: center;
  position: absolute;
  top: 4px;
  left: 4px;

}

/*========== 체크박스 ==========*/
.pointer {
  cursor: pointer;
}

.check-input {
  appearance: none;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #dadada;
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  /* margin-right: 10px; */
}

.check-input:checked::before {
  content: "✔";
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: var(--colorMain);
  /* background-image: url(/assets/images/check.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center; */
  color: #fff;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 12px;
  line-height: 20px;
}

.form-check span {
  font-size: 14px;
}

/*========== 토글 버튼 ==========*/
.toggleSwitch {
  width: 50px;
  height: 24px;
  display: block;
  position: relative;
  border-radius: 30px;
  background-color: #cfcfcf;
  cursor: pointer;
}

.toggleSwitch .toggleButton {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #fff;
}

#toggle:checked ~ .toggleSwitch,
#toggle02:checked ~ .toggleSwitch {
  background: #3d78d1;
}

#toggle:checked ~ .toggleSwitch .toggleButton,
#toggle02:checked ~ .toggleSwitch .toggleButton {
  left: calc(100% - 20px);
  background: #fff;
}

.toggleSwitch,
.toggleButton {
  transition: all 0.2s ease-in;
}

/*========== 스크롤 업 ==========*/
.scrollup{
  position: fixed;
  width: 40px;
  height: 40px;
  right: 1rem;
  bottom: -20%;
  background: rgba(255, 255, 255, 0.8);
  border: 0.5px solid #D9D9D9;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: calc(var(--u10p) * 5);
  padding: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .9;
  z-index: var(--z-tooltip);
  transition: .35s;
}

.scrollup__icon{
  color: var(--white-color);
}

.scrollup__icon:hover{
  background-color: var(--first-color-alt);
  opacity: 1;
}

/* show scroll */
.show-scroll{
  bottom: 6rem;
}

/*========== 탭 ==========*/
.tab-ar {
  overflow-x: auto;
}

.tabs .tabHead {
  display: flex;
  align-items: center;
}

.tabs .tabHead input[type=radio] {
  display: none;
}

.tabs .tabHead input[type=radio] + label {
  color: #666;
  white-space: nowrap;
  cursor: pointer;
}

.tabs .tabHead input[type=radio]:checked + label {
}

.tabs .tab-content {
  display: none;
  padding-top: calc(var(--u10) * 2);
  margin-top: -1px;
}

.tabs .tab-content.active {
  display: block;
}

@media screen and (max-width: 524px) { 
  .resveFlex {
    flex-direction: column;
  }
}

@media screen and (max-width: 428px) {

  .fs-30 {
    font-size: 7vw;
  }

  .fs-14 {
    font-size: 3vw;
  }

  .tabs .tabHead {
    display: inline-flex;
    width: var(--u100);
  }

  .tabs .tabHead label{
    width: var(--u100);
  }

  .tabs .tabHead input[type=radio] + label{
    font-size: 12px;
    padding: 10px 5px;
  }

  .M-flex-wrap {
    flex-wrap: wrap;
  }

}

@media screen and (max-width: 320px) {

}

